.bg_banner {
  height: 283px;
}
.bg_about {
  background: url(../public/images/aboutbg.png);
  position: relative;
  &::after {
    background-color: rgba(0, 0, 0, 0.53);
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
  }
}
