.slider1 {
  .slick-prev {
    left: 40px !important;
    z-index: 9;
    height: 34px;
    width: 34px;
    &::before {
      content: "" !important;
    }
  }
  .slick-next {
    right: 40px !important;
    z-index: 9;
    height: 34px;
    width: 34px;
    &::before {
      content: "" !important;
    }
  }
  .banner_silder_item {
    background: url(../public/images/banner.png) no-repeat;
    background-size: cover;
    height: 523px;
  }
}
