h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
input,
textarea,
select {
  outline: none;
}
// nav__bar
.nav__bar {
  @include xl-screen {
    left: 0;
  }
  position: absolute;
  bottom: -2.5rem;
  left: 9rem;
}
// customcontainer
.customcontainer {
  @include xl-screen {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
  }
  @include xmd-screen {
    padding-left: 20px;
    padding-right: 20px;
  }
  width: 1088px;
}
// font size
.font15 {
  font-size: 15px;
}
.font19 {
  font-size: 19px;
}
.font26 {
  font-size: 26px;
}
.font28 {
  font-size: 28px;
}
.font32 {
  font-size: 32px;
}
.font38 {
  font-size: 38px;
}
.font40 {
  font-size: 40px;
}
// font family
.fontlato {
  font-family: "Noto Serif", serif !important;
}
// line height
.lineheight50 {
  line-height: 50px;
}
//bgwhite
.bgwhite {
  background-color: #ffff;
}
// Header section css
.header_soical {
  div {
    border: 1px solid #fcbc45;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    height: 25px;
    width: 25px;
    svg {
      path {
        fill: #fcbc45;
      }
    }
    &:hover svg path {
      fill: #079bbb;
    }
    &:hover {
      background-color: #fcbc45;
    }
  }
}
.menu_hide {
  @include xmd-screen {
    transform: translateX(-100%);
  }
}
.menu_show {
  @include xmd-screen {
    transform: translateX(0%);
  }
}

// About section css
.about_text {
  p:nth-child(1) {
    position: relative;
    &::before {
      @include sm-screen {
        display: none;
      }
      content: "About Us";
      position: absolute;
      font-size: 100px;
      color: #f9f9f9;
      font-weight: 700;
      z-index: -9;
      bottom: -7px;
      left: -25px;
    }
  }
  h1 {
    position: relative;
    line-height: 50px;
    &::before {
      background-color: #079bbb;
      position: absolute;
      bottom: -40px;
      height: 2px;
      width: 150px;
      content: "";
      left: 0;
    }
  }
}
// popular_header
.popular_header {
  h1 {
    position: relative;
    &::before {
      background-color: #079bbb;
      position: absolute;
      bottom: -20px;
      height: 2px;
      width: 80px;
      content: "";
      left: 0;
    }
  }
}
// could_raise
.could_raise {
  h1 {
    position: relative;
    &::before {
      background-color: #079bbb;
      position: absolute;
      bottom: -40px;
      height: 2px;
      width: 100px;
      content: "";
      left: 0;
    }
  }
}
// events_cards
.events_cards {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  &:hover h1 {
    color: #fff;
  }
  &:hover p {
    color: #ffff;
  }
  &:hover h2 {
    color: #fff;
  }
  &:hover path {
    fill: #fcbc45;
  }
  &:hover {
    background-color: #079bbb;
    box-shadow: 0px 1px 8px 0px #ccc;
  }
  svg {
    path {
      fill: #079bbb;
    }
  }
}
// voter_section
.voter_section {
  background: url(../public/images/voter.png);
  min-height: 700px;
}
// organization_section
.organization_section {
  background: url(../public/images/org.svg) no-repeat;
  background-position: right;
  min-height: 550px;
}
// Causes .js
.water_bg {
  background-image: url(../public/images/cas1.png);
  background-size: 385px 544px;
  background-position: -24px;
}
.educate_bg {
  background-image: url(../public/images/cas2.png);
  background-size: 385px 544px;
  background-position: -24px;
}
.food_bg {
  background-image: url(../public/images/cas3.png);
  background-size: 385px 544px;
  background-position: -24px;
}
.backgroundColor {
  background-color: rgba(0, 0, 0, 0.295);
}
// bg Banner
.contact_section {
  h1 {
    position: relative;
    &::before {
      @include sm-screen {
        display: none;
      }
      content: "Contact Us";
      position: absolute;
      font-size: 80px;
      color: #f9f9f9;
      font-weight: 700;
      z-index: -9;
      bottom: -10px;
      left: -25px;
    }
  }
}

// boxshadow
.boxshadow {
  box-shadow: 0px 3px 8px #00000029;
}

// gallery section
.gallery_slider {
  .slick-prev {
    left: 40px !important;
    z-index: 999999;
    height: 65px;
    width: 65px;
    &::before {
      content: "" !important;
    }
  }
  .slick-next {
    right: 40px !important;
    z-index: 999999;
    height: 65px;
    width: 65px;
    &::before {
      content: "" !important;
    }
  }
}
// Gallery page css
.gallery_img {
  position: relative;
  transition: all 0.3s;
  &:hover {
    opacity: 0.5;
    // backdrop-filter: opacity(0.4);
  }
}
